<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hansens HelpDesk</title>
</head>
<body>
    <h1>Hansens HelpDesk</h1>
    <img src="images/helpdesk_pic.png" width="500px" alt="HelpDesk">