<%- include("./partials/header.ejs") %>

<!-- TODO: Erstatt navn, ticketnr og epost med data fra EJS -->
<h2>Takk for din ticket, kjære Jens</h2>
<p>Du har fått ticket nr. 12345.</p>
<p>Du mottar straks en e-post på jensern@medGensern.no</p>
<hr>
<p>Snækkes!</p>