<%- include("./partials/header.ejs") %>

    <h2>Takk for din feilmelding, kjære NAVN</h2>
    <p>Ditt ticketnr er !?!?!?</p>
    <p>Du mottar en kvittering på din e-post EPOST straks.</p>
    <p>Snækkes</p>

    <%- include("./partials/footer.ejs") %>